*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
}

body {
  overflow-x: hidden;

  width: 100%;

  transition: transform 0.25s;

  background-color: $color-light;
  &::before {
    @include abs-position(0, 18px, 0, 0);
    background-color: $color-primary;
    content: "";
    z-index: -2;
    opacity: 0;
    transition: opacity 1s;
  }
  &.active {
    overflow-y: hidden;

    padding-right: 18px;

    transition: transform 0.5s;
    transform: translateX(-214px);
    &::before {
      opacity: 0.85;
      z-index: 5;
      height: 100%;
    }
  }
}


.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}
